/* --- Global style --- */

html{
    font-size: 10px;
}

body {
    background-color: white;
    font-family:  sans-serif;
    color: #445361;
    text-align: center;
    font-size: 2rem;
}

.button{
    background-color: #0077ff;
    color: white;
    border: none;
    width: 10rem;
    height: 3rem;
}

.box{
	position: relative;
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* --- Start box --- */
#start-box {
	display: block;
}

#startbtn{
    margin-top: 20%;
}

/* --- Quiz box --- */
#quiz-box{
	display: none;     
}

.incorrect{
    position: absolute;
    top: 0.5rem;
    right: 1rem;

	font-size: 150%;
    color: #a9a9a9;
}

.question-text{
    position: absolute;
    top: 25%;
    width: 100%;
}

.option-list{
    position: absolute;
    top: 35%;
    width: 100%;
}

.option{
    width: 85%;
	height: 3.5rem;
    margin-top: 0.75rem;
    border: solid 1px black;

	font-size: 2rem;
}

.option:disabled{
	color: #445361;
}

/* --- Quiz box footer --- */
footer{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* --- Results box --- */
#result-box{
	display: none;
}

#result-text{
    position: absolute;
    top: 35%;
    margin: 0 28% 0 28%;
}

#restartbtn, #quitbtn{
    margin : 1rem 0.5rem 0.2rem 0.5rem;
}

/* --- Media queries --- */
@media screen and (max-width: 800px){

	.box{
		height: 80vh;
		max-height: 80%;
	}

	#startbtn{
		margin-top: 75%;
	}

	.question-text{
		font-size: 1.8rem;
	}

	.option-list{
		top: 45%;
	}

	.option{
		height: 4rem;
		width: 90%;
		font-size: 1.3rem;
	}

	#result-text{
		font-size: 1.5rem;
	}
}